.header
  %h1 Katalog
  %p.lead Lorem ipsum dolor sit amet.
  %hr
.row
  %ul.thumbnails

    %li.span3.height200
      .thumbnail
        %img(src="/attachments/roof.jpeg")
        .caption
          %h3 Chemia dla specjalistów
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/chemia"} Więcej »

    %li.span3.height200
      .thumbnail
        %img(src="/attachments/sewerage.jpeg")
        .caption
          %h3 Bezpieczna zima
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/dachy"} Więcej »
    %li.span3.height200
      .thumbnail
        %img(src="/attachments/industrial.jpeg")
        .caption
          %h3 BHP
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/opal-stone"} Więcej »

    %li.span3.height200
      .thumbnail
        %img(src="/attachments/roof.jpeg")
        .caption
          %h3 Wyroby z plexi
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/plexi"} Więcej »

    %li.span3.height200
      .thumbnail
        %img(src="/attachments/sewerage.jpeg")
        .caption
          %h3 Stojaki, kosze
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/stojaki-kosze"} Więcej »
    %li.span3.height200
      .thumbnail
        %img(src="/attachments/industrial.jpeg")
        .caption
          %h3 Umywalki, blaty
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/umywalki-blaty"} Więcej »
            
            
    %li.span3.height200
      .thumbnail
        %img(src="/attachments/roof.jpeg")
        .caption
          %h3 Wycieraczki
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/wycieraczki"} Więcej »
    %li.span3.height200
      .thumbnail
        %img(src="/attachments/roof.jpeg")
        .caption
          %h3 Zakłady mięsne
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/katalog/zaklady-miesne"} Więcej »