.row
  %h1 Usługi
  %p.lead Lorem ipsum dolor sit amet.
  %hr
  

.row  
  %ul.thumbnails

    %li.span4.shadow
      .thumbnail
        %img(src="/attachments/roof.jpeg")
        .caption
          %h1 Dachy
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/uslugi/dachy"} Więcej »
  
    %li.span4.shadow
      .thumbnail
        %img(src="/attachments/sewerage.jpeg")
        .caption
          %h1 Kanalizacja
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/uslugi/kanalizacja"} Więcej »
    %li.span4.shadow
      .thumbnail
        %img(src="/attachments/industrial.jpeg")
        .caption
          %h1 Zakłady Przemysłowe
          %p  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
          %p
            %a.btn.btn-primary{:href => "/uslugi/zaklady"} Więcej »